[Unit]
Conflicts=umount.target
Before=umount.target

RefuseManualStart=yes
RefuseManualStop=yes

[Mount]
What=tmpfs
Where=/home/guest
Type=tmpfs
Options=mode=0750,uid=guest,gid=users,strictatime,nosuid,nodev
