[Unit]
DefaultDependencies=no
Conflicts=umount.target
After=systemd-sysusers.service systemd-tmpfiles-setup.service
Before=umount.target

RefuseManualStart=yes
RefuseManualStop=yes

[Mount]
What=tmpfs
Type=tmpfs
Options=mode=0750,uid=guest,gid=users,strictatime,nosuid,nodev
