[Unit]
DefaultDependencies=no
Requires=home-guest.mount
After=systemd-tmpfiles-setup.service home-guest.mount

RefuseManualStart=yes
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/sbin/bash -c 'cp -a /etc/skel/. /home/guest'
ExecStart=/usr/sbin/chown -R guest:users /home/guest
