[Unit]
DefaultDependencies=no
Requires=home-guest.mount
After=home-guest.mount systemd-tmpfiles-setup.service systemd-sysusers.service

RefuseManualStart=yes
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/sbin/bash -c 'id guest >& /dev/null || useradd guest'
ExecStart=/usr/sbin/usermod -d /home/guest/ guest
ExecStart=/usr/sbin/passwd -d guest
ExecStart=/usr/sbin/bash -c 'cp -a /usr/share/guest-configuration/. /home/guest'
ExecStart=/usr/sbin/chown -R guest:users /home/guest
ExecStart=/usr/sbin/chsh -s /bin/sh guest
